@mixin little_title
    font-family: 'Source Sans Pro' 
    font-size: 14px 
    line-height: 48px 
    font-weight: 700 
    text-transform: uppercase 
    letter-spacing: 0.1em 
    color: #008ed6 
    
@mixin big_title
    margin-top: 15px
    text-align: center
    font-size: 36px 
    font-weight: 600 
    text-transform: none 
    letter-spacing: normal 
    color: #1a1a1a 
    

    


header
    position: relative
    background-color: #ffffff3d
    h2 
        font-family: Quicksand
        font-size: 24px
        line-height: 58px
        font-weight: 700
        text-transform: uppercase
        color: #ffffff
        span
            opacity: 0.3 
            font-family: 'Source Sans Pro' 
            font-size: 9px 
            line-height: 10px 
            font-weight: 400 
            text-transform: uppercase 
            letter-spacing: 0.14em 
            color: #ffffff 

nav
    display: flex
    justify-content: space-between
.menu
	display: flex
	justify-content: space-between
	padding: 13px 70px
	margin: 0
	list-style-type: none

	&_link
		font-size: 15px
		font-weight: 300
		color: #ffffff

	&_item
		border-right: 2px dotted black
		padding-right: 33px

.home
    max-width: 1440px
    height: 640px
    background-color: #15141a
    background-image: linear-gradient(135.0deg, rgba(21,20,26,0.4) 19%, rgba(21,20,26,0.0) 80%)
    background: url('../img/home_bg.jpg') center (center / cover) no-repeat
    h1
        font-family: 'Source Sans Pro' 
        font-size: 14px 
        line-height: 48px 
        font-weight: 700 
        text-transform: uppercase 
        letter-spacing: 0.1em 
        color: #008ed6 
    h2
        font-size: 48px 
        line-height: 65px 
        font-weight: 600 
        text-transform: none 
        letter-spacing: normal 
        color: #ffffff 
    .text
        font-size: 18px 
        line-height: 26px 
        font-weight: 400 
        text-transform: none 
        letter-spacing: normal 
        color: #999999 
.text 
    font-size: 18px
    line-height: 50px
    font-weight: 400
    text-transform: none
    letter-spacing: normal
    color: #999999
.features
    height: 575px
    background-color: white
    border-bottom: 1px solid gray 
    .row
        h2
            font-family: 'Source Sans Pro' 
            font-size: 24px 
            line-height: 20px 
            font-weight: 400 
            color: #1a1a1a 
        .text
            font-size: 18px 
            line-height: 26px 
            color: #999999 

.about_long
    height: 705px
    img
        margin-top: 60px
    h2
        margin-top: 120px
        @include little_title
        text-align: left
    h3
        @include big_title
        text-align: left
    .text
        font-size: 18px
        line-height: 26px
        font-weight: 400
        text-transform: none
        letter-spacing: normal
        color: #999999
    ul
        font-size: 18px
        line-height: 36px
        font-weight: 400
        text-transform: none
        letter-spacing: normal
        color: #1b1b1b
        

.about_short
    height: 543px
    background-color: #f2f2f2 
    h2
        margin-top: 132px
        @include little_title
        text-align: left
    h3
        @include big_title
        text-align: left
    .text
        font-size: 18px
        line-height: 26px
        font-weight: 400
        text-transform: none
        letter-spacing: normal
        color: #999999

.recalls
    height: 640px
    background: url('../img/recalls_bg.jpg') center (center / cover) no-repeat

.eye-catcher
    height: 170px
    background-color: #15141a

.plans
    height: 780px
    .col-md-auto
        h2
            text-align: center
            @include little_title
        h3
            text-align: center
            @include big_title

.contacts
    height: 722px
    background-color: #e6e3e3
    .col-md-auto
        h2
            text-align: center
            @include little_title
        h3
            text-align: center
            @include big_title
        
            
            
            


.map
    height: 360px
    background-color: #15141a
    background: url('../img/map.jpg') center (center / cover) no-repeat

footer 
    height: 160px
    background-color: #15141a
    col-md-auto
        font-family: 'Source Sans Pro'
        font-size: 14px
        line-height: 48px
        font-weight: 600
        text-transform: uppercase
        color: #444348