


@mixin little_title
	font-family: 'Source Sans Pro' 
	font-size: 14px 
	line-height: 48px 
	font-weight: 700 
	text-transform: uppercase 
	letter-spacing: 0.1em 
	color: #008ed6 
	
@mixin big_title
	margin-top: 10px
	text-align: center
	font-size: 36px 
	font-weight: 600 
	text-transform: none 
	letter-spacing: normal 
	color: #1a1a1a

@import "media" 
@import "general"
